<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
	<head>
		<title>Redirect</title>
		<meta http-equiv="refresh" content="0; url={{URL}}">
	</head>
	<body onload="window.location = '{{URL}}'">
		<a href="{{URL}}">Click here if you are not redirected automatically!</a>
	</body>
</html>
